@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base del proyecto */
html, body, #root { height: 100%; }
body { font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif; }
